html
	head
		link(rel='stylesheet', type='text/css', href='stylesheets/main.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
body
	h1= title
	form(id='form', method='post', class='table')
		div(class='row')
			span(class='cell') Search:
			span(class='cell')
				input(type='text', name='search', id='search')
		button Submit Query
	div(class='table', id='table')
script(src='javascripts/search.js')
