html
	head
		link(rel='stylesheet', type='text/css', href='stylesheets/main.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
body
	h1= title
	form(id='form', method='post', class='table')
		div(class='row')
			span(class='cell') Title:
			span(class='cell')
				input(type='text', name='title', id='title')
		div(class='row')
			span(class='cell') Orator:
			span(class='cell')
				input(type='text', name='orator', id='orator')
		div(class='row')
			span(class='cell') Date:
			span(class='cell')
				input(type='date', name='date', id='date')
		div(class='row')
			span(class='cell') Video Link:
			span(class='cell')
				input(type='text', name='video', id='video')
		div(class='row')
			span(class='none') ID:
			span(class='none')
				input(type='hidden', name='id', id='id')
		button Submit Video Query and Update
	div(class='table', id='table')
script(src='javascripts/update.js')
